[submodule ".registry"]
	path = .registry
	url = https://github.com/pythonhealthdatascience/pythonhealthdatascience.r-universe.dev
	branch = HEAD
[submodule "treat.sim"]
	path = treat.sim
	url = https://github.com/pythonhealthdatascience/stars-treat-simmer
